<div class="home__container">
	<app-card
	gameCover="assets/bt-1.jpg"
	gameLabel="LIMITED EDITION"
	gameType="PS4"
	gamePrice="EUR 129,90"
	>
	</app-card>

	<app-card
	gameCover="assets/bt-4.jpg"
	gameLabel="DIGITAL"
	gameType="PC"
	gamePrice="EUR 99,90"
	>
	</app-card>

	<app-card
	gameCover="assets/bt-5.jpg"
	gameLabel="NEW"
	gameType="PS4"
	gamePrice="EUR 59,90">
	</app-card>

	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLabel="EXCLUSIVE"
	gameType="PS5"
	gamePrice="EUR 89,90">
	</app-card>

	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="DIGITAL"
	gameType="PC"
	gamePrice="EUR 149,90">
	</app-card>

	<app-card
	gameCover="assets/bt-hardline.jpg"
	gameLabel="DIGITAL"
	gameType="PC"
	gamePrice="EUR 99,90">
	</app-card>


</div>

